body, html {
    height: 100%;
    margin: 0;
}

.container {
    display: flex;
    align-items: center; /* Vertical center alignment */
    justify-content: center; /* Horizontal center alignment */
    height: 100%;
}

.text {
    text-align: center;
}

.image {
    margin-left: 20px; /* Adjust as needed */
}

#myImage {
    width: 200px;
    height: 200px; /* Square dimensions */
    border-radius: 50%; /* Make the image circular */
}
